@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2");
}
/* line 1, ../scss/layout/_structure.scss */
*::selection {
  background: #5faf8b;
  color: #e0fce8;
}

/* line 6, ../scss/layout/_structure.scss */
html, body, main, [data-reactroot] {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 15, ../scss/layout/_structure.scss */
main {
  min-width: 400px;
}

/* line 19, ../scss/layout/_structure.scss */
.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* line 26, ../scss/layout/_structure.scss */
body {
  font-family: "Open Sans";
  font-size: 12px;
  background: #f7f3ff;
  color: #666;
}

@media print {
  /* line 34, ../scss/layout/_structure.scss */
  html, body, main, [data-reactroot] {
    overflow: visible;
  }

  /* line 38, ../scss/layout/_structure.scss */
  body {
    font-size: 70%;
  }

  /* line 42, ../scss/layout/_structure.scss */
  .page {
    display: block;
  }
}
/* line 1, ../scss/layout/_header.scss */
.page > header {
  width: 100%;
  background: #5faf8b;
  color: #e0fce8;
  font-family: "Raleway";
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  box-shadow: 0 0 6px #9c9c9c;
  flex-grow: 0;
  z-index: 2;
}
/* line 13, ../scss/layout/_header.scss */
.page > header .previous, .page > header .print {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* line 19, ../scss/layout/_header.scss */
.page > header .previous {
  float: left;
  margin-left: 20px;
}
/* line 23, ../scss/layout/_header.scss */
.page > header .print {
  float: right;
  margin-right: 20px;
}

@media print {
  /* line 30, ../scss/layout/_header.scss */
  .page > header {
    display: none;
  }
}
/* line 1, ../scss/layout/_content.scss */
.page .content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 1, ../scss/layout/_footer.scss */
.page > footer {
  background: white;
  flex-grow: 0;
  font-size: 1.2em;
  padding: 10px 20px;
  box-shadow: 0 0 6px #9c9c9c;
  z-index: 2;
}
/* line 8, ../scss/layout/_footer.scss */
.page > footer > * {
  vertical-align: middle;
}
/* line 11, ../scss/layout/_footer.scss */
.page > footer .icon {
  color: #e0fce8;
  background: #5faf8b;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

@media print {
  /* line 27, ../scss/layout/_footer.scss */
  .page > footer {
    display: none;
  }
}
/* line 1, ../scss/elements/_fields.scss */
input,
textarea,
button,
.button,
.Select-control {
  transition: .5s all;
  font-size: 1.08em;
  border-radius: 4px;
  color: #666;
  border: 1px solid #afafaf;
  font-family: inherit;
}
/* line 12, ../scss/elements/_fields.scss */
input:focus,
textarea:focus,
button:focus,
.button:focus,
.Select-control:focus {
  border-color: #5faf8b;
}

/* line 17, ../scss/elements/_fields.scss */
input,
textarea,
button,
.button {
  padding: .5em 1em;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* line 27, ../scss/elements/_fields.scss */
input[type=radio],
input[type=checkbox] {
  padding: 0;
  margin: 0 5px;
  border: none;
  box-shadow: none;
  width: auto !important;
}
/* line 34, ../scss/elements/_fields.scss */
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 1px dotted;
}

/* line 39, ../scss/elements/_fields.scss */
textarea {
  resize: none;
  min-height: 6em;
}

/* line 44, ../scss/elements/_fields.scss */
.choose-file input[type=file] {
  display: none;
}

/* line 49, ../scss/elements/_fields.scss */
fieldset {
  position: relative;
  margin: 0;
  border: none;
  padding-top: 10px;
}
/* line 54, ../scss/elements/_fields.scss */
fieldset::before {
  content: "\000a0";
  position: absolute;
  background: #afafaf;
  height: 1px;
  width: 90%;
  top: 0;
  left: 5%;
}
/* line 63, ../scss/elements/_fields.scss */
fieldset > .label {
  position: absolute;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-top: -.55em;
  background: #f7f3ff;
  top: 0;
  left: 7%;
  padding: 0 5px;
}

/* line 77, ../scss/elements/_fields.scss */
.Field {
  position: relative;
  margin: 15px 30px 15px 0;
  padding-left: 30px;
}
/* line 81, ../scss/elements/_fields.scss */
.Field input,
.Field textarea {
  width: 100%;
}
/* line 85, ../scss/elements/_fields.scss */
.Field .row {
  display: flex;
  width: 100%;
}
/* line 88, ../scss/elements/_fields.scss */
.Field .row .fixed {
  flex-grow: 0;
  flex-shrink: 0;
}
/* line 92, ../scss/elements/_fields.scss */
.Field .row > * {
  flex-grow: 1;
  width: auto;
  margin-left: 10px;
}
/* line 96, ../scss/elements/_fields.scss */
.Field .row > *:first-child {
  margin-left: 0;
}
/* line 101, ../scss/elements/_fields.scss */
.Field .feature {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 50%;
  margin-top: -7px;
}
/* line 107, ../scss/elements/_fields.scss */
.Field .feature input {
  display: none;
}
/* line 109, ../scss/elements/_fields.scss */
.Field .feature input:checked ~ .icon {
  display: block;
  color: #ffd428;
}
/* line 114, ../scss/elements/_fields.scss */
.Field .feature .icon {
  position: relative;
  font-size: 14px;
  display: none;
  color: #afafaf;
}
/* line 121, ../scss/elements/_fields.scss */
.Field:hover .feature .icon {
  display: block;
}

/* line 130, ../scss/elements/_fields.scss */
.Input.required::before,
.Textarea.required::before,
.SelectContainer.required::before,
.input-container.required::before {
  content: "\f069";
  font-family: FontAwesome;
  position: absolute;
  font-size: 10px;
  line-height: 30px;
  top: 0;
  right: 10px;
  color: #5faf8b;
}
/* line 140, ../scss/elements/_fields.scss */
.Input .label,
.Textarea .label,
.SelectContainer .label,
.input-container .label {
  transition: 0.1s ease-in-out all;
  position: absolute;
  line-height: 2.5em;
  margin-left: 10px;
  color: #afafaf;
  top: 0;
}
/* line 148, ../scss/elements/_fields.scss */
.Input input:focus ~ .label,
.Input input:not([value=""]) ~ .label,
.Input textarea:focus ~ .label,
.Input textarea.has-value ~ .label,
.Input .Select.is-focused ~ .label,
.Input .Select.has-value ~ .label,
.Textarea input:focus ~ .label,
.Textarea input:not([value=""]) ~ .label,
.Textarea textarea:focus ~ .label,
.Textarea textarea.has-value ~ .label,
.Textarea .Select.is-focused ~ .label,
.Textarea .Select.has-value ~ .label,
.SelectContainer input:focus ~ .label,
.SelectContainer input:not([value=""]) ~ .label,
.SelectContainer textarea:focus ~ .label,
.SelectContainer textarea.has-value ~ .label,
.SelectContainer .Select.is-focused ~ .label,
.SelectContainer .Select.has-value ~ .label,
.input-container input:focus ~ .label,
.input-container input:not([value=""]) ~ .label,
.input-container textarea:focus ~ .label,
.input-container textarea.has-value ~ .label,
.input-container .Select.is-focused ~ .label,
.input-container .Select.has-value ~ .label {
  color: #5faf8b;
  font-weight: bold;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white;
  margin-top: -15px;
}
/* line 159, ../scss/elements/_fields.scss */
.Input .Select ~ .label,
.Textarea .Select ~ .label,
.SelectContainer .Select ~ .label,
.input-container .Select ~ .label {
  margin-top: 3px;
}

/* line 164, ../scss/elements/_fields.scss */
.Options {
  display: flex;
}
/* line 166, ../scss/elements/_fields.scss */
.Options > .label {
  flex-grow: 0;
  width: 30%;
  max-width: 130px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.1em;
}
/* line 174, ../scss/elements/_fields.scss */
.Options .options {
  width: 70%;
  border: 1px solid #afafaf;
  border-radius: 4px;
  padding: 5px 7px;
}
/* line 180, ../scss/elements/_fields.scss */
.Options .option {
  display: block;
}
/* line 182, ../scss/elements/_fields.scss */
.Options .option input[type=radio],
.Options .option input[type=checkbox] {
  display: none;
}
/* line 185, ../scss/elements/_fields.scss */
.Options .option input[type=radio] ~ .label::before,
.Options .option input[type=checkbox] ~ .label::before {
  color: #afafaf;
  font-family: FontAwesome;
  font-size: 1.35em;
  width: 20px;
  display: inline-block;
  vertical-align: top;
}
/* line 194, ../scss/elements/_fields.scss */
.Options .option input[type=checkbox] ~ .label::before {
  content: "\f096";
  /* square-o */
}
/* line 195, ../scss/elements/_fields.scss */
.Options .option input[type=checkbox]:checked ~ .label::before {
  content: "\f046";
  /* check-square-o */
  color: #5faf8b;
}
/* line 196, ../scss/elements/_fields.scss */
.Options .option input[type=radio] ~ .label::before {
  content: "\f1db";
  /* circle-thin */
}
/* line 197, ../scss/elements/_fields.scss */
.Options .option input[type=radio]:checked ~ .label::before {
  content: "\f05d";
  /* check-circle-o */
  color: #5faf8b;
}
/* line 198, ../scss/elements/_fields.scss */
.Options .option > .label {
  line-height: 1.6em;
}
/* line 202, ../scss/elements/_fields.scss */
.Options.disabled {
  color: #afafaf;
}

/* line 1, ../scss/elements/_buttons.scss */
.button,
button,
input[type=submit] {
  transition: .7s text-shadow ease-in-out;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  display: inline-block;
  background: transparent;
  font-family: "Raleway";
  font-weight: bold;
  color: #5faf8b;
  border: 2px solid;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
}
/* line 19, ../scss/elements/_buttons.scss */
.button:hover,
button:hover,
input[type=submit]:hover {
  background: #5faf8b;
  border-color: #5faf8b;
  color: #e0fce8;
  text-shadow: 0 0 12px white;
}
/* line 25, ../scss/elements/_buttons.scss */
.button[disabled], .button.disabled,
button[disabled],
button.disabled,
input[type=submit][disabled],
input[type=submit].disabled {
  color: #aeaeae;
}
/* line 28, ../scss/elements/_buttons.scss */
.button[disabled]:hover, .button.disabled:hover,
button[disabled]:hover,
button.disabled:hover,
input[type=submit][disabled]:hover,
input[type=submit].disabled:hover {
  background: transparent;
  border-color: #aeaeae;
  color: #aeaeae;
  text-shadow: none;
}

/* line 1, ../scss/elements/_collapsable.scss */
.collapsable {
  position: relative;
  background: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 6, ../scss/elements/_collapsable.scss */
.collapsable .area {
  transition: .2s ease-out max-height;
  height: 100%;
  display: block;
  overflow-y: auto;
}
/* line 12, ../scss/elements/_collapsable.scss */
.collapsable .handle {
  display: block;
  position: absolute;
  background: #5faf8b;
  color: #e0fce8;
  width: 100%;
  height: 15px;
  cursor: pointer;
}
/* line 20, ../scss/elements/_collapsable.scss */
.collapsable .handle .icon {
  transition: .2s ease-out all;
  display: block;
  line-height: 15px;
  font-size: 18px;
  height: 15px;
  width: auto;
  text-align: center;
  margin: 0 auto;
}
/* line 30, ../scss/elements/_collapsable.scss */
.collapsable .handle::before, .collapsable .handle::after {
  content: "\000a0";
  background: #e0fce8;
  display: block;
  position: absolute;
  opacity: .5;
  height: 1px;
  width: 47%;
  margin-top: -1px;
  top: 50%;
}
/* line 41, ../scss/elements/_collapsable.scss */
.collapsable .handle::before {
  left: 1%;
}
/* line 44, ../scss/elements/_collapsable.scss */
.collapsable .handle::after {
  right: 1%;
}
/* line 49, ../scss/elements/_collapsable.scss */
.collapsable.collapsed .handle .icon {
  transform: rotate(180deg);
}
/* line 52, ../scss/elements/_collapsable.scss */
.collapsable.collapsed .area {
  max-height: 0 !important;
}

/* line 2, ../scss/components/_home.scss */
.Home .content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}
/* line 8, ../scss/components/_home.scss */
.Home .content > * {
  margin: 10px 20px;
}
/* line 12, ../scss/components/_home.scss */
.Home .recent {
  padding: 0;
  margin: 0 20px 30px;
  border-radius: 4px;
  border: 1px solid #cecece;
  font-size: 1.1em;
}
/* line 18, ../scss/components/_home.scss */
.Home .recent .title {
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
  color: #52a37e;
  padding: 8px;
}
/* line 25, ../scss/components/_home.scss */
.Home .recent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 29, ../scss/components/_home.scss */
.Home .recent ul li {
  display: flex;
  padding: 5px 20px;
  border-top: 1px solid #cecece;
  font-size: .85em;
  cursor: pointer;
}
/* line 35, ../scss/components/_home.scss */
.Home .recent ul li:hover {
  background: #f7fef9;
}
/* line 40, ../scss/components/_home.scss */
.Home .recent .file {
  flex-grow: 1;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
/* line 48, ../scss/components/_home.scss */
.Home .recent .date {
  flex-grow: 0;
  margin-left: 10px;
  font-style: italic;
}

/* line 2, ../scss/components/_stream.scss */
.Stream .file-options {
  float: right;
}
/* line 5, ../scss/components/_stream.scss */
.Stream .items {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
/* line 10, ../scss/components/_stream.scss */
.Stream .items li:last-child {
  border-bottom: none;
}
/* line 14, ../scss/components/_stream.scss */
.Stream .Filters {
  margin-bottom: 15px;
}
/* line 16, ../scss/components/_stream.scss */
.Stream .Filters .handle {
  bottom: -15px;
}
/* line 17, ../scss/components/_stream.scss */
.Stream .Filters .area {
  max-height: 200px;
  overflow-y: hidden !important;
}
/* line 20, ../scss/components/_stream.scss */
.Stream .Filters .area form {
  margin: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 25, ../scss/components/_stream.scss */
.Stream .Filters .area form section {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 31, ../scss/components/_stream.scss */
.Stream .Filters .area form button {
  flex: 0 0 auto;
  margin: 0 .5em;
  background: #5faf8b;
  color: #e0fce8;
  border-radius: 50%;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.2em;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
}
/* line 44, ../scss/components/_stream.scss */
.Stream .Filters .area form button:hover {
  border: none !important;
}
/* line 47, ../scss/components/_stream.scss */
.Stream .Filters .area .count {
  padding: .3em 0;
  text-align: center;
  background: #dedede;
  color: grey;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .85em;
}
/* line 57, ../scss/components/_stream.scss */
.Stream .Filters .Input {
  margin-top: .5em;
  position: relative;
}
/* line 60, ../scss/components/_stream.scss */
.Stream .Filters .Input .label {
  position: absolute;
}
/* line 64, ../scss/components/_stream.scss */
.Stream .Filters.disabled button {
  background: #a4a3a6 !important;
  border-color: #a4a3a6 !important;
}
/* line 69, ../scss/components/_stream.scss */
.Stream .Node {
  page-break-inside: avoid;
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 1px solid;
  position: relative;
}
/* line 75, ../scss/components/_stream.scss */
.Stream .Node .data {
  background: #f7f3ff;
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-flow: row;
  border: 1px solid;
  border-radius: 2px;
  padding: 3px 45px 3px 10px;
}
/* line 84, ../scss/components/_stream.scss */
.Stream .Node .data .id {
  flex-grow: 0;
  font-size: 1.2em;
}
/* line 88, ../scss/components/_stream.scss */
.Stream .Node .data .year-title {
  flex: 1;
  margin: 0 10px;
  max-width: 65%;
}
/* line 93, ../scss/components/_stream.scss */
.Stream .Node .data .title, .Stream .Node .data .author {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
/* line 100, ../scss/components/_stream.scss */
.Stream .Node .data .author::before {
  content: "por ";
  font-size: .8em;
}
/* line 104, ../scss/components/_stream.scss */
.Stream .Node .data .title {
  font-size: 1.2em;
  max-width: calc(100% - 50px);
}
/* line 108, ../scss/components/_stream.scss */
.Stream .Node .data .year, .Stream .Node .data .title, .Stream .Node .data .author {
  vertical-align: middle;
}
/* line 112, ../scss/components/_stream.scss */
.Stream .Node .book {
  max-width: 100%;
}
/* line 115, ../scss/components/_stream.scss */
.Stream .Node .description pre {
  page-break-inside: avoid;
  font-family: "Open Sans";
  padding: 0 10px;
  font-size: .98em;
}
/* line 121, ../scss/components/_stream.scss */
.Stream .Node .controls {
  position: absolute;
  right: 10px;
  display: none;
}
/* line 125, ../scss/components/_stream.scss */
.Stream .Node .controls .edit, .Stream .Node .controls .remove {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
/* line 133, ../scss/components/_stream.scss */
.Stream .Node .controls .edit {
  color: #5faf8b;
  margin-right: 5px;
}
/* line 137, ../scss/components/_stream.scss */
.Stream .Node .controls .remove {
  color: #e83525;
}
/* line 141, ../scss/components/_stream.scss */
.Stream .Node:hover {
  background: #faf8ff;
}
/* line 143, ../scss/components/_stream.scss */
.Stream .Node:hover .controls {
  display: block;
}
/* line 148, ../scss/components/_stream.scss */
.Stream .file-options {
  display: inline-block;
}
/* line 150, ../scss/components/_stream.scss */
.Stream .file-options > * {
  margin-left: 10px;
}

@media print {
  /* line 157, ../scss/components/_stream.scss */
  .Stream .Node .controls {
    display: none !important;
  }
}
/* line 2, ../scss/components/_book.scss */
.Book .Result {
  padding-top: 15px;
}
/* line 4, ../scss/components/_book.scss */
.Book .Result .handle {
  top: 0;
}
/* line 5, ../scss/components/_book.scss */
.Book .Result .description {
  display: block;
  width: 100%;
  max-height: 100px;
}
/* line 9, ../scss/components/_book.scss */
.Book .Result .description pre {
  padding: 10px 20px;
  margin: 0;
}
/* line 15, ../scss/components/_book.scss */
.Book .content {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 20px 0;
}
/* line 21, ../scss/components/_book.scss */
.Book > footer input {
  float: right;
}
