.page > footer {
	background: white;
	flex-grow: 0;
	font-size: 1.2em;
	padding: 10px 20px;
	box-shadow: 0 0 6px #9c9c9c;
	z-index: 2;
	& > * {
		vertical-align: middle;
	}
	.icon {
		color: $color-secondary;
		background: $color-primary;
		width: 2.5em;
		height: 2.5em;
		line-height: 2.5em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		cursor: pointer;
	}
}

@media print {
	.page > footer {
		display: none;
	}
}