.page > header {
	width: 100%;
	background: $color-primary;
	color: $color-secondary;
	font-family: "Raleway";
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	box-shadow: 0 0 6px #9c9c9c;
	flex-grow: 0;
	z-index: 2;
	.previous, .print {
		font-size: 25px;
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
	.previous {
		float: left;
		margin-left: 20px;
	}
	.print {
		float: right;
		margin-right: 20px;
	}
}

@media print {
	.page > header {
		display: none;
	}
}