*::selection {
	background: $color-primary;
	color: $color-secondary;
}

html, body, main, [data-reactroot] {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

main {
	min-width: 400px;
}

.page {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

body {
	font-family: "Open Sans";
	font-size: 12px;
	background: $color-background;
	color: $color-text;
}

@media print {
	html, body, main, [data-reactroot] {
		overflow: visible;
	}

	body {
		font-size: 70%;
	}

	.page {
		display: block;
	}
}