.Book {
	.Result {
		padding-top: 15px;
		.handle { top: 0 }
		.description {
			display: block;
			width: 100%;
			max-height: 100px;
			pre {
				padding: 10px 20px;
				margin: 0;
			}
		}
	}
	.content {
		display: flex;
		flex-direction: column;
		flex-flow: column;
		padding: 20px 0;
	}
	& > footer input {
		float: right;
	}
}