.Home {
	.content {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		font-size: 1.2em;
		& > * {
			margin: 10px 20px;
		}
	}
	.recent {
		padding: 0;
		margin: 0 20px 30px;
		border-radius: 4px;
		border: 1px solid #cecece;
		font-size: 1.1em;
		.title {
			font-family: "Raleway";
			font-weight: bold;
			text-align: center;
			color: darken($color-primary, 5%);
			padding: 8px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: flex;
				padding: 5px 20px;
				border-top: 1px solid #cecece;
				font-size: .85em;
				cursor: pointer;
				&:hover {
					background: lighten($color-secondary, 5%);
				}
			}
		}
		.file {
			flex-grow: 1;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
		}
		.date {
			flex-grow: 0;
			margin-left: 10px;
			font-style: italic;
		}
	}
}