.Stream {
	.file-options {
		float: right;
	}
	.items {
		display: flex;
		flex-flow: column;
		margin: 0;
		padding: 0;
		li:last-child {
			border-bottom: none;
		}
	}
	.Filters {
		margin-bottom: 15px;
		.handle { bottom: -15px }
		.area {
			max-height: 200px;
			overflow-y: hidden !important;
			form {
				margin: .5em;
				display: flex;
				justify-content: space-between;
				align-items: center;
				section {
					flex: 1 1 100%;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
				}
				button {
					flex: 0 0 auto;
					margin: 0 .5em;
					background: $color-primary;
					color: $color-secondary;
					border-radius: 50%;
					padding: 0;
					width: 2.5em;
					height: 2.5em;
					line-height: 2.2em;
					text-align: center;
					vertical-align: middle;
					font-size: 1.2em;
					&:hover { border: none !important }
				}
			}
			.count {
				padding: .3em 0;
				text-align: center;
				background: #dedede;
				color: grey;
				font-weight: 700;
				text-transform: uppercase;
				font-size: .85em;
			}
		}
		.Input {
			margin-top: .5em;
			position: relative;
			.label {
				position: absolute;
			}
		}
		&.disabled button {
			background: mix($color-background, grey, 30%) !important;
			border-color: mix($color-background, grey, 30%) !important;
		}
	}
	.Node {
		page-break-inside: avoid;
		display: inline-block;
		padding: 10px 15px;
		border-bottom: 1px solid;
		position: relative;
		.data {
			background: $color-background;
			position: relative;
			display: flex;
			flex-basis: 0;
			flex-flow: row;
			border: 1px solid;
			border-radius: 2px;
			padding: 3px 45px 3px 10px;
			.id {
				flex-grow: 0;
				font-size: 1.2em;
			}
			.year-title {
				flex: 1;
				margin: 0 10px;
				max-width: 65%;
			}
			.title, .author {
				display: inline-block;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
			}
			.author::before {
				content: "por ";
				font-size: .8em;
			}
			.title {
				font-size: 1.2em;
				max-width: calc(100% - 50px);
			}
			.year, .title, .author {
				vertical-align: middle;
			}
		}
		.book {
			max-width: 100%;
		}
		.description pre {
			page-break-inside: avoid;
			font-family: "Open Sans";
			padding: 0 10px;
			font-size: .98em;
		}
		.controls {
			position: absolute;
			right: 10px;
			display: none;
			.edit, .remove {
				font-size: 15px;
				text-decoration: none;
				display: inline-block;
				border-radius: 50%;
				vertical-align: middle;
				cursor: pointer;
			}
			.edit {
				color: $color-primary;
				margin-right: 5px;
			}
			.remove {
				color: #e83525;
			}
		}
		&:hover {
			background: lighten($color-background, 1%);
			.controls {
				display: block;
			}
		}
	}
	.file-options {
		display: inline-block;
		& > * {
			margin-left: 10px;
		}
	}
}

@media print {
	.Stream .Node .controls {
		display: none !important;
	}
}