.button,
button,
input[type=submit] {
	transition: .7s text-shadow ease-in-out;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	display: inline-block;
	background: transparent;
	font-family: "Raleway";
	font-weight: bold;
	color: $color-primary;
	border: 2px solid;
	cursor: pointer;
	text-align: center;
	box-shadow: none;
	&:hover {
		background: $color-primary;
		border-color: $color-primary;
		color: $color-secondary;
		text-shadow: 0 0 12px white;
	}
	&[disabled],
	&.disabled {
		color: #aeaeae;
		&:hover {
			background: transparent;
			border-color: #aeaeae;
			color: #aeaeae;
			text-shadow: none;
		}
	}
}
