	.collapsable {
		position: relative;
		background: white;
		width: 100%;
		border-bottom: 1px solid #ccc;
		.area {
			transition: .2s ease-out max-height;
			height: 100%;
			display: block;
			overflow-y: auto;
		}
		.handle {
			display: block;
			position: absolute;
			background: $color-primary;
			color: $color-secondary;
			width: 100%;
			height: 15px;
			cursor: pointer;
			.icon {
				transition: .2s ease-out all;
				display: block;
				line-height: 15px;
				font-size: 18px;
				height: 15px;
				width: auto;
				text-align: center;
				margin: 0 auto;
			}
			&::before, &::after {
				content: "\000a0";
				background: $color-secondary;
				display: block;
				position: absolute;
				opacity: .5;
				height: 1px;
				width: 47%;
				margin-top: -1px;
				top: 50%;
			}
			&::before {
				left: 1%;
			}
			&::after {
				right: 1%;
			}
		}
		&.collapsed {
			.handle .icon {
				transform: rotate(180deg);
			}
			.area {
				max-height: 0 !important;
			}
		}
	}
