input,
textarea,
button,
.button,
.Select-control {
	transition: .5s all;
	font-size: 1.08em;
	border-radius: 4px;
	color: $color-text;
	border: 1px solid $light-grey;
	font-family: inherit;
	&:focus {
		border-color: $color-primary;
	}
}

input,
textarea,
button,
.button {
	padding: .5em 1em;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

input[type=radio],
input[type=checkbox] {
	padding: 0;
	margin: 0 5px;
	border: none;
	box-shadow: none;
	width: auto !important;
	&:focus {
		outline: 1px dotted;
	}
}

textarea {
	resize: none;
	min-height: 6em;
}

.choose-file input[type=file] {
	display: none;
}


fieldset {
	position: relative;
	margin: 0;
	border: none;
	padding-top: 10px;
	&::before {
		content: "\000a0";
		position: absolute;
		background: #afafaf;
		height: 1px;
		width: 90%;
		top: 0;
		left: 5%;
	}
	& > .label {
		position: absolute;
		font-family: "Raleway";
		font-weight: bold;
		font-size: 1.1em;
		line-height: 1.1em;
		margin-top: -.55em;
		background: $color-background;
		top: 0;
		left: 7%;
		padding: 0 5px;
	}
}

.Field {
	position: relative;
	margin: 15px 30px 15px 0;
	padding-left: 30px;
	input,
	textarea {
		width: 100%;
	}
	.row {
		display: flex;
		width: 100%;
		.fixed {
			flex-grow: 0;
			flex-shrink: 0;
		}
		& > * {
			flex-grow: 1;
			width: auto;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.feature {
		position: absolute;
		cursor: pointer;
		left: 10px;
		top: 50%;
		margin-top: -7px;
		input {
			display: none;
			&:checked~.icon {
				display: block;
				color: #ffd428;
			}
		}
		.icon {
			position: relative;
			font-size: 14px;
			display: none;
			color: #afafaf;
		}
	}
	&:hover .feature .icon {
		display: block;
	}
}

.Input,
.Textarea,
.SelectContainer,
.input-container {
	&.required::before {
		content: "\f069"; // asterisk
		font-family: FontAwesome;
		position: absolute;
		font-size: 10px;
		line-height: 30px;
		top: 0;
		right: 10px;
		color: $color-primary;
	}
	.label {
		transition: 0.1s ease-in-out all;
		position: absolute;
		line-height: 2.5em;
		margin-left: 10px;
		color: $light-grey;
		top: 0;
	}
	input:focus~.label,
	input:not([value=""])~.label,
	textarea:focus~.label,
	textarea.has-value~.label,
	.Select.is-focused~.label,
	.Select.has-value~.label {
		color: $color-primary;
		font-weight: bold;
		text-shadow: -1px -1px 0 white, 1px 1px 0 white;
		margin-top: -15px;
	}
	.Select~.label {
		margin-top: 3px;
	}
}

.Options {
	display: flex;
	& > .label {
		flex-grow: 0;
		width: 30%;
		max-width: 130px;
		font-family: "Raleway";
		font-weight: bold;
		font-size: 1.1em;
	}
	.options {
		width: 70%;
		border: 1px solid #afafaf;
		border-radius: 4px;
		padding: 5px 7px;
	}
	.option {
		display: block;
		input[type=radio],
		input[type=checkbox] {
			display: none;
			& ~ .label::before {
				color: #afafaf;
				font-family: FontAwesome;
				font-size: 1.35em;
				width: 20px;
				display: inline-block;
				vertical-align: top;
			}
		}
		input[type=checkbox] ~ .label::before { content: "\f096"; /* square-o */ }
		input[type=checkbox]:checked ~ .label::before { content: "\f046"; /* check-square-o */ color: $color-primary; }
		input[type=radio] ~ .label::before { content: "\f1db"; /* circle-thin */ }
		input[type=radio]:checked ~ .label::before { content: "\f05d"; /* check-circle-o */ color: $color-primary; }
		& > .label {
			line-height: 1.6em;
		}
	}
	&.disabled {
		color: #afafaf;
	}
}